<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Auth</display-name>
    <servlet-name>Auth</servlet-name>
    <servlet-class>controller.Auth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Auth</servlet-name>
    <url-pattern>/Auth</url-pattern>
  </servlet-mapping>
  <display-name>projetjsp1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>inscriptionController</display-name>
    <servlet-name>inscriptionController</servlet-name>
    <servlet-class>controller.inscriptionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inscriptionController</servlet-name>
    <url-pattern>/inscriptionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PizzaController</display-name>
    <servlet-name>PizzaController</servlet-name>
    <servlet-class>controller.PizzaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PizzaController</servlet-name>
    <url-pattern>/PizzaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LivreurController</display-name>
    <servlet-name>LivreurController</servlet-name>
    <servlet-class>controller.LivreurController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LivreurController</servlet-name>
    <url-pattern>/LivreurController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PanierController</display-name>
    <servlet-name>PanierController</servlet-name>
    <servlet-class>controller.PanierController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PanierController</servlet-name>
    <url-pattern>/PanierController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChefController1</display-name>
    <servlet-name>ChefController1</servlet-name>
    <servlet-class>controller.ChefController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChefController1</servlet-name>
    <url-pattern>/ChefController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardController</display-name>
    <servlet-name>DashboardController</servlet-name>
    <servlet-class>controller.DashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardController</servlet-name>
    <url-pattern>/DashboardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommandeController</display-name>
    <servlet-name>CommandeController</servlet-name>
    <servlet-class>controller.CommandeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommandeController</servlet-name>
    <url-pattern>/CommandeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthGuard</display-name>
    <servlet-name>AuthGuard</servlet-name>
    <servlet-class>controller.AuthGuard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthGuard</servlet-name>
    <url-pattern>/AuthGuard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardLivreurController</display-name>
    <servlet-name>DashboardLivreurController</servlet-name>
    <servlet-class>controller.DashboardLivreurController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardLivreurController</servlet-name>
    <url-pattern>/DashboardLivreurController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardChefController</display-name>
    <servlet-name>DashboardChefController</servlet-name>
    <servlet-class>controller.DashboardChefController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardChefController</servlet-name>
    <url-pattern>/DashboardChefController</url-pattern>
  </servlet-mapping>
</web-app>